.table1{
    margin-left:330px;
    background-color: white; 
    opacity: .9;
    margin-top:15px;
    padding:20px;
}

.bgr{
    background-image: url('https://i.pinimg.com/736x/68/02/2c/68022ccdf212339f51339afe9a6b6539.jpg');
}